[defaults]
invetory = "/home/dutchman/ansible/inventory.ini"
interpreter_python = auto_silent
log_path = /home/dutchman/ansible/log/ansible.log
role_path = ""
collections = ""
templates = ""
gather_facts = True
remote_user = "zach"
stdout_callback = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_password = False
