[defaults]
invetory = "/home/dutchman/ansible/inventory.ini"
role_path = ""
collections = ""
templates = ""
gather_facts = True
remote_user = "zach"

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_password = False
